
h2 {
    font-size: 40px;
    color:rgb(123, 0, 255)
}

#icon {
    margin: 10%;

}
body{
    background-color: hsl(171, 100%, 41%);
}
.bottom-half {
    background-image: url(../images/backgroundimg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 500px;
    width: 100%;
}

.input-1{
    width: 30%;
    margin-left: 5%;
}

.input-2{
    width: 30%;
    margin-left: 5%;
}

button{
    margin-top: 1%;
    margin-left: 5%;
    
}
.hero-foot{
    margin-bottom: 1%;
}
/*Footer selector*/
footer {
    margin-top:0%;
margin-left: 45%;
}

/*Query selectors for responsive ui*/
@media all and (max-width:768px) {
  body{
    max-width:100%;
  }
  h2 {
    color:red;
  }
    #bg-image{
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    body{
        width: 100%;
    }
    h2 {
        color:blue;
    }
    #bg-image{
        width: 100%;
    }
}